@import 'tailwindcss';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-stagger {
  opacity: 0; /* On cache par défaut avant l'anim */
  animation: fadeInUp 0.8s ease-out forwards;
  /* La magie est ici : */
  animation-delay: var(--stagger-delay);
}

@keyframes shimmerBg {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.animate-shimmer-bg {
  animation: shimmerBg 3s linear infinite;
}